/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------HOMEPAGE--------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header{
    width: 100%;
    padding: 20px 0;
    background-color: mediumseagreen;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header nav .logo-header{
    width:170px;
    max-width: 100%;
    height:150px;
    margin-left: 100px;
}


header nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}


header nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


header nav ul #home_text{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
    font-size: 22px;
}


header nav ul li a {
    text-decoration: none;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    padding: 3px;
}


header nav ul li a:hover{
    color:black;
    transition: 0.5s;
}


header nav .checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


header nav ul li i{
    margin-right: 5px;
}


header nav #check{
    display: none;
}



@media (max-width:868px) {
    
    header nav .checkbtn{
        display: block;
    }
    
    
    header nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: mediumseagreen;
        top:110px;
        left:-100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
        overflow-y: hidden;
    }
    
    
    header nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    
    header nav ul li a{
        font-size: 20px;
    }


    #check:checked ~ ul {
        left:0;   
    }
    

    header nav .logo-header{
        margin-left:0;
    }}

    .no-scroll{
        overflow-y: hidden;
    }


   
/* ================================ BODY ===================================== */

.banner2{
    background: linear-gradient(rgba(0,0,0,0.280),rgba(0,0,0,0.380)),url('./background_images/background2.jpeg');
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;                                
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}


.register-table{
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 100px;
    border-radius: 15px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    border: 3px solid mediumseagreen;
    max-width: 100%;
}
 

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 70px;
    color:white;

}


input{
    padding: 15px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 100%;
}


button{
    background-color: mediumseagreen;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


button:hover{
    cursor: pointer;
    background: white;
    color:black
}